# Graded Assignment 3: 9 to 5

Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.

## The Dataset

For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on [Kaggle](https://www.kaggle.com/datasets/bls/employment).

## Business Issue

You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.

## About the Dataset

This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:

1. The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.
1. Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.

## Set Up

To connect to the database, use the same connection info used during the SQL lessons. 

For the assignment, we will be using `LaborStatisticsDB`.

## Database Exploration

To start with, let’s get to know the database further.

1. Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with `LaborStatisticsDB`.
   
   To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the link button to the right of the  </> symbol in the gray part of this cell, the link is just the name of your file.

2. What is the datatype for women employees?

In [ ]:
--The datatype for women employees is nvarchar. It is a string.
--The data type code is 10.

3. What is the series id for  women employees in the commercial banking industry in the financial activities supersector?

In [ ]:
--The series id is CEU5552211010.

## Aggregate Your Friends and Code some SQL

Put together the following:

1. How many employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:

SELECT ROUND(SUM(value), 0) AS total_emp_2016
FROM LaborStatisticsDB.dbo.annual_2016;

--2,351,408,916 employees

2. How many women employees were reported in 2016 in all industries? Round to the nearest whole number.

In [ ]:

SELECT ROUND(SUM(value),0) AS total_women_emp
FROM LaborStatisticsDB.dbo.annual_2016
WHERE RIGHT(series_id, 2) = '10';

--1,125,490 women employees

3. How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.

In [ ]:

SELECT ROUND(SUM(value),0) AS total_prod_nonsup_emp
FROM LaborStatisticsDB.dbo.annual_2016
WHERE RIGHT(series_id, 2) = '06';

--1,263,650 production and nonsupervisory employees

4. In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?

In [ ]:

SELECT AVG(jan.value) AS AVG_Weekly_Hours_By_Production_and_Nonsupervisory_Emp
FROM LaborStatisticsDB.dbo.datatype AS datatype_table
LEFT JOIN [LaborStatisticsDB].[dbo].[series] AS ser ON ser.data_type_code = datatype_table.data_type_code
LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan ON ser.series_id = jan.series_id
LEFT JOIN LaborStatisticsDB.dbo.industry AS industry ON industry.industry_code = ser.industry_code
WHERE datatype_table.data_type_code = '7';

--36.05862068965521 hours. (The question didn't state to round the number.)

5. What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny.

In [ ]:

SELECT ROUND(AVG(jan.value), 2) AS AVG_Weekly_Payroll_By_Production_and_Nonsupervisory_Emp
FROM LaborStatisticsDB.dbo.datatype AS datatype_table
LEFT JOIN [LaborStatisticsDB].[dbo].[series] AS ser ON ser.data_type_code = datatype_table.data_type_code
LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan ON ser.series_id = jan.series_id
LEFT JOIN LaborStatisticsDB.dbo.industry AS industry ON industry.industry_code = ser.industry_code
WHERE datatype_table.data_type_code = '30' OR datatype_table.data_type_code = '31';

--The average weekly payroll is $527.58.

6. In January 2017, for which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:

SELECT AVG(jan.value) AS Average_Weekly_Hours_by_Industry, industry.industry_name
FROM LaborStatisticsDB.dbo.datatype AS datatype_table
LEFT JOIN [LaborStatisticsDB].[dbo].[series] AS ser ON ser.data_type_code = datatype_table.data_type_code
LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan ON ser.series_id = jan.series_id
LEFT JOIN LaborStatisticsDB.dbo.industry AS industry ON industry.industry_code = ser.industry_code
WHERE datatype_table.data_type_code = '7'
GROUP BY industry.industry_name
ORDER BY Average_Weekly_Hours_by_Industry DESC;

--Motor vehicle power train components was the industry with the highest average weekly hours. 
--Fitness and recreational sports centers was the industry with the lowest average weekly hours.

7. In January 2021, for which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?

In [ ]:

SELECT AVG(jan.value) AS AVG_Weekly_Payroll_By_Production_and_Nonsupervisory_Emp, industry.industry_name
FROM LaborStatisticsDB.dbo.datatype AS datatype_table
LEFT JOIN [LaborStatisticsDB].[dbo].[series] AS ser ON ser.data_type_code = datatype_table.data_type_code
LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan ON ser.series_id = jan.series_id
LEFT JOIN LaborStatisticsDB.dbo.industry AS industry ON industry.industry_code = ser.industry_code
WHERE datatype_table.data_type_code = '30' OR datatype_table.data_type_code = '31'
GROUP BY industry.industry_name
ORDER BY AVG_Weekly_Payroll_By_Production_and_Nonsupervisory_Emp DESC;

--The Reinsurance carriers industry had the highest weekly payroll.
--The Bowling centers industry had the lowest weekly payroll.

## Join in on the Fun

Time to start joining! You can choose the type of join you use, just make sure to make a  note!

1. Join `annual_2016` with `series` on `series_id`. We only want the data in the `annual_2016` table to be included in the result.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
-- SELECT TOP 50 *

SELECT TOP 50 *
FROM LaborStatisticsDB.dbo.annual_2016 as a   
LEFT JOIN LaborStatisticsDB.dbo.series as s  
    ON a.series_id = s.series_id



-- Uncomment the line below when you are ready to run the query, leaving it as your last!
ORDER BY id;

--I chose a left join because the instructions stated that we only needed to make sure that
--all the data from the annual_2016 table was included.

2. Join `series` and `datatype` on `data_type_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
-- SELECT TOP 50 *

SELECT TOP 50 *
FROM LaborStatisticsDB.dbo.series AS s   
FULL JOIN LaborStatisticsDB.dbo.datatype AS dt  
    ON s.data_type_code = dt.data_type_code

-- Uncomment the line below when you are ready to run the query, leaving it as your last!
ORDER BY series_id;

--I decided to do a FULL JOIN since the datatype table only had two columns. I figured it would
--not use too much space. I also could have used a LEFT JOIN because the instructions didn't state
--that it was necessary to include the data_type_text column.

3. Join `series` and `industry` on `industry_code`.

In [ ]:
-- Limiting rows returned from query, uncomment the line below to start on your query!
-- SELECT TOP 50 *

SELECT TOP 50 *
FROM LaborStatisticsDB.dbo.series AS s  
INNER JOIN LaborStatisticsDB.dbo.industry AS i  
    ON s.industry_code = i.industry_code

-- Uncomment the line below when you are ready to run the query, leaving it as your last!
ORDER BY series_id;

--I decided to use an INNER JOIN so that the table would only return values that are present
--in both tables. The type of join would depend on what we needed to focus on for the analysis
--and why. I didn't receive any null values when I tried each join type for this question.

## Subqueries, Unions, Derived Tables, Oh My!

1. Write a query that returns the `series_id`, `industry_code`, `industry_name`, and `value` from the `january_2017` table but only if that value is greater than the average value for `annual_2016` of `data_type_code` 82.

In [ ]:

SELECT jan.series_id, ind.industry_code, ind.industry_name, jan.[value]
FROM LaborStatisticsDB.dbo.january_2017 AS jan  
LEFT JOIN LaborStatisticsDB.dbo.industry AS ind    
    ON jan.id = ind.id
WHERE jan.[value] > (
    SELECT AVG(ann.value)
    FROM LaborStatisticsDB.dbo.series AS ser  
    RIGHT JOIN LaborStatisticsDB.dbo.annual_2016 AS ann  
        ON ser.series_id = ann.series_id
    WHERE ser.data_type_code = 82
);

**Optional Bonus Question:** Write the above query as a common table expression!

In [ ]:
-- Optional CTE below

WITH average_value_2016 AS (
        SELECT AVG(ann.value) AS avg_value
        FROM LaborStatisticsDB.dbo.series AS ser  
        RIGHT JOIN LaborStatisticsDB.dbo.annual_2016 AS ann  
            ON ser.series_id = ann.series_id
        WHERE ser.data_type_code = 82
) 
    

SELECT jan.series_id, ind.industry_code, ind.industry_name, jan.[value]
FROM LaborStatisticsDB.dbo.january_2017 AS jan  
LEFT JOIN LaborStatisticsDB.dbo.industry AS ind    
    ON jan.id = ind.id
WHERE jan.[value] > (SELECT avg_value FROM average_value_2016);

2. Create a `Union` table comparing average weekly earnings of production and nonsupervisory employees between `annual_2016` and `january_2017` using the data type 30.  Round to the nearest penny.  You should have a column for the average earnings and a column for the year, and the period.

In [ ]:

SELECT CAST(ROUND(ann.[value], 2) AS DECIMAL(10, 2)) AS average_earnings, ann.year, ann.[period] 
FROM LaborStatisticsDB.dbo.annual_2016 AS ann 
LEFT JOIN LaborStatisticsDB.dbo.series AS ser  
    ON ann.series_id = ser.series_id
LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan  
    ON jan.series_id = ann.series_id
WHERE ser.data_type_code = 30
UNION 
SELECT CAST(ROUND(jan.[value], 2) AS DECIMAL(10,2)) AS average_earnings, jan.year, jan.[period] 
FROM LaborStatisticsDB.dbo.annual_2016 AS ann 
LEFT JOIN LaborStatisticsDB.dbo.series AS ser  
    ON ann.series_id = ser.series_id
LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan  
    ON jan.series_id = ann.series_id
WHERE ser.data_type_code = 30

## Summarize Your Results

With what you know now about the  Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the Labor Statistics Database, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.

1. During which time period did production and nonsupervisory employees fare better?

It appears that the M01 period (January 2017) fared better with an average of 809.58 in earnings. 
The period M13 (Annual 2016) had an average of 797.29 in earnings.

I used the following code to make this determination: 

WITH avg_earning_by_period AS (
    SELECT CAST(ROUND(ann.[value], 2) AS DECIMAL(10, 2)) AS average_earnings, ann.year, ann.[period] 
    FROM LaborStatisticsDB.dbo.annual_2016 AS ann 
    LEFT JOIN LaborStatisticsDB.dbo.series AS ser  
        ON ann.series_id = ser.series_id
    LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan  
        ON jan.series_id = ann.series_id
    WHERE ser.data_type_code = 30
    UNION 
    SELECT CAST(ROUND(jan.[value], 2) AS DECIMAL(10,2)) AS average_earnings, jan.year, jan.[period] 
    FROM LaborStatisticsDB.dbo.annual_2016 AS ann 
    LEFT JOIN LaborStatisticsDB.dbo.series AS ser  
        ON ann.series_id = ser.series_id
    LEFT JOIN LaborStatisticsDB.dbo.january_2017 AS jan  
        ON jan.series_id = ann.series_id
    WHERE ser.data_type_code = 30
)
SELECT AVG(average_earnings), [period] FROM avg_earning_by_period
GROUP BY avg_earning_by_period.[period];

2. In which industries did production and nonsupervisory employees fare better?

It appears that they fared better in the Motor vehicle bodies and trailers, Farm machinery and equipment, and Machine shops and threaded products industries. These were the top three industries in terms of earnings, with each averaging over $1600.

I used the following code to make this determination: 

WITH avg_earning_by_industry AS (
    SELECT ann.series_id, ind.industry_code, ind.industry_name AS Industry, ann.[value] AS avg_earnings
    FROM LaborStatisticsDB.dbo.annual_2016 AS ann 
    LEFT JOIN LaborStatisticsDB.dbo.industry AS ind    
        ON ann.id = ind.id
    LEFT JOIN LaborStatisticsDB.dbo.series AS ser  
        ON ser.series_id = ann.series_id
    WHERE ser.data_type_code = 30
)
SELECT AVG(avg_earnings) AS Average_Earnings_By_Industry, industry 
FROM avg_earning_by_industry
GROUP BY industry
ORDER BY Average_Earnings_By_Industry DESC;

3. Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?

I would be interested in having annual data for several years in order to do a comparison of earnings within each industry over the years. While the dataset provides annual data for the year 2016 to compare with one month (January) of the following year, a deeper analysis could occur if we had more individual months to compare in 2017 as well as more annual reports.